section.section
	.container
		.result
			.result__head
				.result__title Результаты #[span.pink-text прошлого марафона]
				a.result__link(href="#") Посмотреть все результаты
			.result__slider
				.row
					.col-xl-6
						.slider.js-slider
							div
								.slider-item
									.w-50.d-flex.position-relative
										a.slider-item__img.slider-item__img_grey.js-mp-image(href="images/img.jpg" style="background-image: url(images/img.jpg)")
										.slider-item__text Победитель
									.w-50.d-flex.position-relative
										a.slider-item__img.js-mp-image(href="images/img.jpg" style="background-image: url(images/img.jpg)")
							div
								.slider-item
									.w-50.d-flex.position-relative
										a.slider-item__img.slider-item__img_grey.js-mp-image(href="images/img-2.jpg" style="background-image: url(images/img-2.jpg)")
										.slider-item__text 2 место
									.w-50.d-flex.position-relative
										a.slider-item__img.js-mp-image(href="images/img-2.jpg" style="background-image: url(images/img-2.jpg)")
					.col-xl-6
						.slider.js-slider
							div
								.slider-item
									.w-50.d-flex.position-relative
										a.slider-item__img.slider-item__img_grey.js-mp-image(href="images/img-2.jpg" style="background-image: url(images/img-2.jpg)")
										.slider-item__text 2 место
									.w-50.d-flex.position-relative
										a.slider-item__img.js-mp-image(href="images/img-2.jpg" style="background-image: url(images/img-2.jpg)")
							div
								.slider-item
									.w-50.d-flex.position-relative
										a.slider-item__img.slider-item__img_grey.js-mp-image(href="images/img.jpg" style="background-image: url(images/img.jpg)")
										.slider-item__text Победитель
									.w-50.d-flex.position-relative
										a.slider-item__img.js-mp-image(href="images/img.jpg" style="background-image: url(images/img.jpg)")

			.d-flex.justify-content-center
				a.btn.btn-large(href="#") Хочу участвовать!