section.pb-5
	h2.mt-0.mb-4 Аккордеон
	.panel-group#accordion.js-accordion(role="tablist")
		.panel.panel-shadow
			.panel-heading#heading1(role="tab")
				h6.panel-title
					a(data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapse1")
						span Каковы преимущества гибкой черепицы?

			.panel-collapse.collapse.show#collapse1(role="tabpanel" aria-labelledby="heading1" data-parent="#accordion")
				.panel-body
					| Добрый день! Ответ на ваш вопрос получается слишком объемным, но я постараюсь выделить наиболее существенные преимущества мягкой кровли.
					br
					| - во-первых, это стойкость к изменениям погоды – выдерживает резкие скачки температур от -45 до +110 градусов, а в нашем южном регионе это наиболее актуально.

		.panel
			.panel-heading#heading2(role="tab")
				h6.panel-title
					a.collapsed(data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2")
						span Каковы преимущества гибкой черепицы?

			.panel-collapse.collapse#collapse2(role="tabpanel" aria-labelledby="heading2" data-parent="#accordion")
				.panel-body
					| Добрый день! Ответ на ваш вопрос получается слишком объемным, но я постараюсь выделить наиболее существенные преимущества мягкой кровли.
					br
					| - во-первых, это стойкость к изменениям погоды – выдерживает резкие скачки температур от -45 до +110 градусов, а в нашем южном регионе это наиболее актуально.

		.panel
			.panel-heading#heading3(role="tab")
				h6.panel-title
					a.collapsed(data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3")
						span Каковы преимущества гибкой черепицы?

			.panel-collapse.collapse#collapse3(role="tabpanel" aria-labelledby="heading3" data-parent="#accordion")
				.panel-body
					| Добрый день! Ответ на ваш вопрос получается слишком объемным, но я постараюсь выделить наиболее существенные преимущества мягкой кровли.
					br
					| - во-первых, это стойкость к изменениям погоды – выдерживает резкие скачки температур от -45 до +110 градусов, а в нашем южном регионе это наиболее актуально.