section.pb-5
	.row
		.col-md-10.col-xl-9
			h2.mt-0.mb-4 Оповещения
			.alert.alert-success Спасибо! Ваша заявка принята.
			.alert.alert-info Сведения, независимо от формы их представления, воспринимаемые человеком или специальными устройствами как отражение фактов материального мира в процессе коммуникации.
			.alert.alert-danger Заполните все поля формы