section.pb-5
	h2.mt-0 Кнопки
	.row
		.col-md-6.col-lg-4
			h3.mt-4 Button
			.mt-4: button.btn.btn-base Standart button

			h3.mt-4 Button disabled
			.mt-4: button.btn.btn-base(disabled) Standart button

		.col-md-6.col-lg-4
			h3.mt-4 Link
			.mt-4: a.btn.btn-base(href="#") Standart button

			h3.mt-4 Link disabled
			.mt-4: a.btn.btn-base.disabled(href="#") Standart button

		.col-md-6.col-lg-4
			h3.mt-4 Input
			.mt-4: input.btn.btn-base(type="button" value="Standart button")

			h3.mt-4 Input disabled
			.mt-4: input.btn.btn-base(type="button" value="Standart button" disabled)

	//-.row
		.col-md-6.col-lg-4
			h3.mt-4 Button
			.mt-4: button.btn.btn-base
				i.icon-calendar
				= ' Standart button'

		.col-md-6.col-lg-4
			h3.mt-4 Link
			.mt-4: a.btn.btn-base(href="#")
				i.icon-calendar
				= ' Standart button'

	.row
		.col-md-6.col-lg-4
			h3.mt-4 Button
			.mt-4: button.btn.btn-base.btn-large Large button

			h3.mt-4 Button disabled
			.mt-4: button.btn.btn-base.btn-large(disabled) Large button

		.col-md-6.col-lg-4
			h3.mt-4 Link
			.mt-4: a.btn.btn-base.btn-large(href="#") Large button

			h3.mt-4 Link disabled
			.mt-4: a.btn.btn-base.btn-large.disabled(href="#") Large button

		.col-md-6.col-lg-4
			h3.mt-4 Input
			.mt-4: input.btn.btn-base.btn-large(type="button" value="Large button")

			h3.mt-4 Input disabled
			.mt-4: input.btn.btn-base.btn-large(type="button" value="Large button" disabled)

	.row
		.col-md-6.col-lg-4
			h3.mt-4 Button
			.mt-4: button.btn.btn-base.btn-small Small button

			h3.mt-4 Button disabled
			.mt-4: button.btn.btn-base.btn-small(disabled) Small button

		.col-md-6.col-lg-4
			h3.mt-4 Link
			.mt-4: a.btn.btn-base.btn-small(href="#") Small button

			h3.mt-4 Link disabled
			.mt-4: a.btn.btn-base.btn-small.disabled(href="#") Small button

		.col-md-6.col-lg-4
			h3.mt-4 Input
			.mt-4: input.btn.btn-base.btn-small(type="button" value="Small button")

			h3.mt-4 Input disabled
			.mt-4: input.btn.btn-base.btn-small(type="button" value="Small button" disabled)

	.row
		.col-md-6.col-lg-4
			h3.mt-4 Button
			.mt-4: button.btn.btn-ghost Standart ghost button

			h3.mt-4 Button disabled
			.mt-4: button.btn.btn-ghost(disabled) Standart ghost button

		.col-md-6.col-lg-4
			h3.mt-4 Link
			.mt-4: a.btn.btn-ghost(href="#") Standart ghost button

			h3.mt-4 Link disabled
			.mt-4: a.btn.btn-ghost.disabled(href="#") Standart ghost button

		.col-md-6.col-lg-4
			h3.mt-4 Input
			.mt-4: input.btn.btn-ghost(type="button" value="Standart ghost button")

			h3.mt-4 Input disabled
			.mt-4: input.btn.btn-ghost(type="button" value="Standart ghost button" disabled)

	.row
		.col-md-6.col-lg-4
			h3.mt-4 Button
			.mt-4: button.btn.btn-ghost.btn-large Large ghost button

			h3.mt-4 Button disabled
			.mt-4: button.btn.btn-ghost.btn-large(disabled) Large ghost button

		.col-md-6.col-lg-4
			h3.mt-4 Link
			.mt-4: a.btn.btn-ghost.btn-large(href="#") Large ghost button

			h3.mt-4 Link disabled
			.mt-4: a.btn.btn-ghost.btn-large.disabled(href="#") Large ghost button

		.col-md-6.col-lg-4
			h3.mt-4 Input
			.mt-4: input.btn.btn-ghost.btn-large(type="button" value="Large ghost button")

			h3.mt-4 Input disabled
			.mt-4: input.btn.btn-ghost.btn-large(type="button" value="Large ghost button" disabled)

	.row
		.col-md-6.col-lg-4
			h3.mt-4 Button
			.mt-4: button.btn.btn-ghost.btn-small Small ghost button

			h3.mt-4 Button disabled
			.mt-4: button.btn.btn-ghost.btn-small(disabled) Small ghost button

		.col-md-6.col-lg-4
			h3.mt-4 Link
			.mt-4: a.btn.btn-ghost.btn-small(href="#") Small ghost button

			h3.mt-4 Link disabled
			.mt-4: a.btn.btn-ghost.btn-small.disabled(href="#") Small ghost button

		.col-md-6.col-lg-4
			h3.mt-4 Input
			.mt-4: input.btn.btn-ghost.btn-small(type="button" value="Small ghost button")

			h3.mt-4 Input disabled
			.mt-4: input.btn.btn-ghost.btn-small(type="button" value="Small ghost button" disabled)