section.pb-5
	h2.mt-0.mb-4 Типы файлов
	.file-icons
		.file-icon.mb-2: a(href="#"): i.icon-file
		.file-icon.mb-2: a(href="#"): i.icon-file.icon-file-doc
		.file-icon.mb-2: a(href="#"): i.icon-file.icon-file-pdf
		.file-icon.mb-2: a(href="#"): i.icon-file.icon-file-xls
		.file-icon.mb-2: a(href="#"): i.icon-file.icon-file-zip
		.file-icon.mb-2: a(href="#"): i.icon-file.icon-file-rar
		.file-icon.mb-2: a(href="#"): i.icon-file.icon-file-txt
		.file-icon.mb-2: a(href="#"): i.icon-file.icon-file-jpg
		.file-icon.mb-2: a(href="#"): i.icon-file.icon-file-mp4
		.file-icon.mb-2: a(href="#"): i.icon-file.icon-file-png
		.file-icon.mb-2: a(href="#"): i.icon-file.icon-file-gif
		.file-icon.mb-2: a(href="#"): i.icon-file.icon-file-mp3
		.file-icon.mb-2: a(href="#"): i.icon-file.icon-file-ppt
		.file-icon.mb-2: a(href="#"): i.icon-file.icon-file-xlsx
		.file-icon.mb-2: a(href="#"): i.icon-file.icon-file-docx