section.pb-5
	.row
		.col-md-10.col-xl-9
			.row
				.col-lg-6.mb-3.mb-lg-0
					h2.mt-0.mb-4 Маркированый список
					ul
						li Гостиная Анны Павловны начала понемногу наполняться.
						li Приехала высшая знать Петербурга, люди самые разнородные;
						li.
							Приехала дочь князя Василия, красавица Элен;
							Она была в шифре и бальном платье:
							Маленькая княгиня Болконская;
						li.
							Приехал князь Ипполит, сын князя Василия;
							Приехал и аббат Морио и многие другие.
						li Молодая княгиня Болконская приехала с работой в шитом золотом мешке; Как это бывает у вполне привлекательных женщин.

				.col-lg-6.mb-3.mb-lg-0
					h2.mt-0.mb-4 Нумерованый список
					ol
						li Гостиная Анны Павловны начала понемногу наполняться.
						li Приехала высшая знать Петербурга, люди самые разнородные;
						li.
							Приехала дочь князя Василия, красавица Элен;
							Она была в шифре и бальном платье:
							Маленькая княгиня Болконская;
						li Приехала дочь князя Василия, красавица Элен;
							ol
								li Гостиная Анны Павловны начала понемногу наполняться.
								li Приехала высшая знать Петербурга, люди самые разнородные;
						li.
							Приехала дочь князя Василия, красавица Элен;
							Она была в шифре и бальном платье:
							Маленькая княгиня Болконская;