section.pb-5
	.row
		.col-md-6.col-lg-5.mb-3.mb-lg-0
			h2.mt-0.mb-4 Всплывающее окно
			//- .modal.fade(tabindex="-1" role="dialog")
			.modal-dialog(role="document")
				.modal-content
					.modal-header
						h4.modal-title Войти на сайт
						button.close(data-dismiss="modal")
							i.icon-close

					.modal-body
						.form-group
							label(for="inputModalText1") Имя пользователя
							input.form-control#inputModalText1

						.form-group
							label(for="inputModalText2") Пароль
							input.form-control#inputModalText2(type="password")

						label
							input(type="checkbox")
							span Запомнить меня на сайте

					.modal-footer
						button.btn.btn-base Войти

		.col-md-6.col-lg-7.mb-3.mb-lg-0
			h2.mt-0.mb-4 Заглушки
			.row
				.col-lg-5.mb-3
					img.img-fluid(src="images/stub.svg" alt="")

				.col-lg-7
					img.img-fluid(src="images/stub-user.svg" alt="")