section.pb-5
	h2.mt-0.mb-4 Реакция на наведение
	.row
		.col-md-6.col-lg-4
			a.gallery.js-mp-image(href="images/architecture-4431284_1920.jpg")
				img.w-100(src="images/architecture-4431284_1920.jpg" alt="")