section.pb-5
	h2.mt-0.mb-4 Иконки соцсетей
	.socs
		a.soc.mb-2(href="#" target="_blank"): i.icon-soc-vk
		a.soc.mb-2(href="#" target="_blank"): i.icon-soc-facebook
		a.soc.mb-2(href="#" target="_blank"): i.icon-soc-twitter
		a.soc.mb-2(href="#" target="_blank"): i.icon-soc-gplus
		a.soc.mb-2(href="#" target="_blank"): i.icon-soc-instagram
		a.soc.mb-2(href="#" target="_blank"): i.icon-soc-dropbox
		a.soc.mb-2(href="#" target="_blank"): i.icon-soc-pinterest
		a.soc.mb-2(href="#" target="_blank"): i.icon-soc-linkedin
		a.soc.mb-2(href="#" target="_blank"): i.icon-soc-youtube
		a.soc.mb-2(href="#" target="_blank"): i.icon-soc-vimeo
		a.soc.mb-2(href="#" target="_blank"): i.icon-soc-yandex
		a.soc.mb-2(href="#" target="_blank"): i.icon-soc-mailru
		a.soc.mb-2(href="#" target="_blank"): i.icon-soc-ok
		a.soc.mb-2(href="#" target="_blank"): i.icon-soc-yadisk
		a.soc.mb-2(href="#" target="_blank"): i.icon-soc-viber
		a.soc.mb-2(href="#" target="_blank"): i.icon-soc-whatsapp
		a.soc.mb-2(href="#" target="_blank"): i.icon-soc-telegram
		a.soc.mb-2(href="#" target="_blank"): i.icon-soc-skype