section.pb-5
	h2.mt-0.mb-4 Тэги
	ul.filter-items
		li.filter-item
			span.filter-item__name Primary
			a.filter-item__close(href="javascript:void(0);")
				i.icon-close

		li.filter-item
			span.filter-item__name Пол: Мужские
			a.filter-item__close(href="javascript:void(0);")
				i.icon-close

		li.filter-item
			span.filter-item__name Бренд: Balenciaga
			a.filter-item__close(href="javascript:void(0);")
				i.icon-close

		li.filter-item
			span.filter-item__name В наличии
			a.filter-item__close(href="javascript:void(0);")
				i.icon-close

		li.filter-item.filter-item_reset
			a(href="javascript:void(0);") Очистить фильтр

	a.tag(href="#") Primary
		.tag-badge 50