section.pb-5
	h2.mt-0.mb-4 Таблица
	.table-responsive
		table.table
			thead
				tr
					th #
					th First
					th Last
					th Handle

			tbody
				tr
					td 1
					td Mark
					td Otto
					td @mdo

				tr
					td Text
					td Jacob
					td Thornton
					td @fat

				tr
					td 3
					td Larry
					td the Bird
					td @twitter