include _s-headings
include _s-links
include _s-lists
include _s-forms
include _s-buttons
//- include _s-validation
include _s-socs
include _s-file-types
include _s-tabs
include _s-table
include _s-pagination
include _s-modal-n-stubs
include _s-reaction
include _s-tags
include _s-alerts
include _s-accordion
include _s-other