header
	.container
		.header
			.d-flex.align-items-center
				a.header__logo(href="/")
					img.mw-100(src="images/logo.png" alt="")
				nav.nav.js-mobile-menu
					a.nav__link(href="#") Марафоны
					a.nav__link(href="#") Расписание марафонов
					a.nav__link(href="#") Результаты
					a.nav__link(href="#") Клуб «Очумелые ручки»
			.header__auth
				a.text-decoration-underline.mr-2.mr-sm-0(href="#") Вход
				.header__divide |
				a.text-decoration-underline(href="#") Регистрация
			.mobile-menu-bar.d-flex.d-xl-none
				+menu-bar




