@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?yptuia') format('truetype'),
    url('fonts/icomoon.woff?yptuia') format('woff'),
    url('fonts/icomoon.svg?yptuia#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-l:before {
  content: "\e919";
}
.icon-line:before {
  content: "\e915";
}
.icon-nav-1:before {
  content: "\e917";
}
.icon-nav-2:before {
  content: "\e918";
}
.icon-ok:before {
  content: "\e900";
}
.icon-arrow-r:before {
  content: "\e901";
}
.icon-basket:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-lock:before {
  content: "\e904";
}
.icon-eye:before {
  content: "\e905";
}
.icon-eye-closed:before {
  content: "\e906";
}
.icon-file:before {
  content: "\e921";
}
.icon-file-ppt:before {
  content: "\e907";
}
.icon-file-xlsx:before {
  content: "\e908";
}
.icon-file-docx:before {
  content: "\e909";
}
.icon-file-pdf:before {
  content: "\e90a";
}
.icon-file-xls:before {
  content: "\e90b";
}
.icon-file-doc:before {
  content: "\e90c";
}
.icon-file-zip:before {
  content: "\e90d";
}
.icon-file-rar:before {
  content: "\e90e";
}
.icon-file-txt:before {
  content: "\e90f";
}
.icon-file-jpg:before {
  content: "\e910";
}
.icon-file-mp4:before {
  content: "\e911";
}
.icon-file-png:before {
  content: "\e912";
}
.icon-file-gif:before {
  content: "\e913";
}
.icon-file-mp3:before {
  content: "\e914";
}
.icon-place:before {
  content: "\e916";
}
.icon-trash:before {
  content: "\e91c";
}
.icon-close:before {
  content: "\e91d";
}
.icon-external:before {
  content: "\e91e";
}
.icon-arrow-back:before {
  content: "\e91f";
}
.icon-calendar:before {
  content: "\e920";
}
.icon-danger:before {
  content: "\e922";
}
.icon-dropdown:before {
  content: "\e923";
}
.icon-info:before {
  content: "\e924";
}
.icon-success:before {
  content: "\e925";
}
.icon-soc-dropbox:before {
  content: "\e92c";
}
.icon-soc-facebook:before {
  content: "\e92d";
}
.icon-soc-gplus:before {
  content: "\e92e";
}
.icon-soc-instagram:before {
  content: "\e92f";
}
.icon-soc-linkedin:before {
  content: "\e930";
}
.icon-soc-mailru:before {
  content: "\e931";
}
.icon-soc-ok:before {
  content: "\e932";
}
.icon-soc-pinterest:before {
  content: "\e933";
}
.icon-soc-skype:before {
  content: "\e934";
}
.icon-soc-telegram:before {
  content: "\e935";
}
.icon-soc-twitter:before {
  content: "\e936";
}
.icon-soc-viber:before {
  content: "\e937";
}
.icon-soc-vimeo:before {
  content: "\e938";
}
.icon-soc-vk:before {
  content: "\e939";
}
.icon-soc-whatsapp:before {
  content: "\e93a";
}
.icon-soc-yadisk:before {
  content: "\e93b";
}
.icon-soc-yandex:before {
  content: "\e93c";
}
.icon-soc-youtube:before {
  content: "\e93d";
}
