mixin menu-bar
	a.menu-bar.js-menu-bar(href="javascript:void(0);")
		span.menu-bar__stick
		span.menu-bar__stick
		span.menu-bar__stick

mixin pagination
	ul.pagination
		li.page-item.disabled
			a.page-link(href="#" aria-label="Previous")
				span(aria-hidden="true") &laquo;
		li.page-item.active
			span.page-link 1
		li.page-item
			a.page-link(href="#") 2
		li.page-item
			a.page-link(href="#") 3
		li.page-item
			a.page-link(href="#") 4
		li.page-item
			a.page-link(href="#") 5
		li.page-item
			a.page-link(href="#" aria-label="Next")
				span(aria-hidden="true") &raquo;

mixin pagination-bar
	nav.row.align-items-center
		.col-auto.mb-3
			button.btn.btn-ghost.pagination-button Показать еще

		.col-auto.mb-3
			+pagination

		.col-auto.align-items-center.mb-3.d-none.d-lg-flex
			input.form-control.pagination-number.js-input-digits(placeholder="№ страницы")
			span.ml-3 С 1 по 20 из <b>10 661</b>

//- +file("pdf", "Sales guide", "(PDF, 700 Кб)")
mixin file(type, title, text)
	.file
		.file__icon
			i(class="icon-file icon-file-" + type)
		.file__desc
			a.file__title(href="#")= title
			if text
				.file__text= text